@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root{
  --width-Mobile: 375px;
  --width-Desktop: 1440px;

  --main-background_theme1: hsl(222, 26%, 31%);
  --toggle-background_theme1: hsl(223, 31%, 20%);
  --keypad-background_theme1: hsl(223, 31%, 20%);
  --screen-background_theme1: hsl(224, 36%, 15%);
  --key-background1_theme1: hsl(225, 21%, 49%);
  --key-shadow1_theme1: hsl(224, 28%, 35%);
  --key-background2_theme1: hsl(6, 63%, 50%);
  --toggle_theme1: hsl(6, 63%, 50%);
  --key-shadow2_theme1: hsl(6, 70%, 34%;);
  --key-background3_theme1: hsl(30, 25%, 89%);
  --key-shadow3_theme1: hsl(28, 16%, 65%);
  --color-text1_theme1: hsl(221, 14%, 31%);
  --color-text2_theme1: hsl(0, 0%, 100%);

  --main-background_theme2: hsl(0, 0%, 90%);
  --toggle-background_theme2: hsl(0, 5%, 81%); 
  --keypad-background_theme2: hsl(0, 5%, 81%);
  --screen-background_theme2: hsl(0, 0%, 93%);
  --key-background1_theme2: hsl(185, 42%, 37%);
  --key-shadow1_theme2: hsl(185, 58%, 25%);
  --key-background2_theme2:hsl(25, 98%, 40%);
  --toggle_theme2: hsl(25, 98%, 40%);
  --key-shadow2_theme2: hsl(25, 99%, 27%); 
  --key-background3_theme2: hsl(45, 7%, 89%);
  --key-shadow3_theme2: hsl(35, 11%, 61%);
  --color-text1_theme2: hsl(60, 10%, 19%);
  --color-text2_theme2: hsl(0, 0%, 100%);

  --main-background_theme3: hsl(268, 75%, 9%);
  --toggle-background_theme3: hsl(268, 71%, 12%); 
  --keypad-background_theme3: hsl(268, 71%, 12%);
  --screen-background_theme3: hsl(268, 71%, 12%);
  --key-background1_theme3: hsl(281, 89%, 26%);
  --key-shadow1_theme3: hsl(285, 91%, 52%);
  --key-background2_theme3:hsl(176, 100%, 44%);
  --toggle_theme2: hsl(176, 100%, 44%);
  --key-shadow2_theme3: hsl(177, 92%, 70%); 
  --key-background3_theme2: hsl(268, 47%, 21%);
  --key-shadow3_theme3: hsl(290, 70%, 36%);
  --color-text1_theme3:hsl(198, 20%, 13%);
  --color-text2_theme3: hsl(0, 0%, 100%);
  --color-text3_theme3: hsl(52, 100%, 62%);

  --fs:32px;
  --fw:700;
}