@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root{
  --width-Mobile: 375px;
  --width-Desktop: 1440px;
  --fs:32px;
  --fw:700;
  --ff:var('League Spartan',sans-serif)
}

/* xxxxxx */
*{
  box-sizing: border-box;
}

body {
 
  margin: 0;
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-y: hidden;
  background-color: var(--main-background_theme);
}
.container{
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
  height: 100%;
  padding-left:calc(var(--bs-gutter-x) * .5);
  padding-right:calc(var(--bs-gutter-x) * .5);
  overflow-y: hidden;
}
.row1 {
  margin: 0 0 20px 0;
  display: grid;
  grid: auto-flow / 1fr 1fr;
  
}


.row1 h1 {
  font-size: 25px;
  color: var(--color-title);
  margin-top: 23px;
  font-family: 'League Spartan',sans-serif;
}
.span{
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-right: 8px;
  color: var(--color-theme);
  font-family: 'League Spartan',sans-serif;
  font-size: 10px;
  font-weight: 100;
  cursor: pointer;
}
.row-span {
  margin: auto 1px auto 0px;
  
}
.theme {
  display: grid;
  grid: auto-flow /1fr 1fr;
  color: var(--color-theme);
  font-family: 'League Spartan',sans-serif;
}
.theme h2 {
  font-size: 12px;
  margin-top: 13px;
  letter-spacing: 0.05em;
}
.theme-btn-color {
height: 18px;
border-radius: 50px;
margin-top: 7px;
background-color: var(--toggle-background_theme);
position: relative;
}

.btn-color1,.btn-color2,.btn-color3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
  }
.btn-color1{
  display: block;
  background-color: var(--toggle_theme);
  left: 5px;
  
}
.btn-color2{
  display: none;
  left: 25px;
  background-color: var(--toggle_theme);
}
.btn-color3{
    left: 45px;
    display: none;
    background-color: var(--toggle_theme);
}


.result {
  font-family: 'League Spartan',sans-serif;
  height: 5rem;
  text-align: center;
  letter-spacing: .02em;
  margin: 0px 0 20px;
  background-color: var(--screen-background_theme);
  border-radius: 7px;
  color: var(--color-result);
  padding: 14px 10px;
  font-size: 2.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.main {
  margin-top:25px ;
  border-radius: 7px;
  background-color: var(--keypad-background_theme);
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template:
      "seven eight nine delete" 50px
      "four five six plus" 50px
      "one two three minus" 50px
      "dot zero divide multiply" 50px
      "reset reset equal equal" 50px/ 1fr 1fr 1fr 1fr;
  gap: 15px;
}
.main button {
  background-color:var(--key3-background_theme);
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--color-number);  
  border-radius: 5px;
  box-shadow: 0 4px var(--key3-shadow_theme);
  font-family: 'League Spartan', sans-serif;
  font-size: 2rem;
  border: none;
}
.main>button:hover{
  cursor: pointer;
}
.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.four{
  grid-area: four;
}
.five{
  grid-area: five;
}
.six{
  grid-area: six;
}
.seven{
  grid-area: seven;
}
.eight{
  grid-area: eight;
}
.nine{
  grid-area: nine;
}
.zero{
  grid-area: zero;
}
.dot{
  grid-area: dot;
}
.main .delete{
  grid-area: delete;
  background-color: var(--key1-background_theme);
  color:var(--color-reset-delete);
  font-size: 18px;
  box-shadow: 0 5px var(--key1-shadow_theme);
}
.main .reset{
  grid-area: reset;
  background-color: var(--key1-background_theme);
  color: var(--color-reset-delete);
  font-size: 18px;
  box-shadow: 0 5px var(--key1-shadow_theme);
}
.main .equal{
  grid-area: equal;
  background-color: var(--key2-background_theme);
  color: var(--color-equal);
  font-size: 18px;
  box-shadow: 0 5px var(--key2-shadow_theme);

}
.plus{
  grid-area: plus;
}
.minus{
  grid-area: minus;
}
.multiply{
  grid-area: multiply;
}
.divide{
  grid-area: divide;
}


/* THEME MODE */
.theme1{
  --main-background_theme: hsl(222, 26%, 31%);
  --toggle-background_theme: hsl(223, 31%, 20%);
  --keypad-background_theme: hsl(223, 31%, 20%);
  --screen-background_theme:hsl(224, 36%, 15%);
  --color-reset-delete:hsl(0, 0%, 100%);
  --key1-background_theme: hsl(225, 21%, 49%);
  --key2-background_theme: hsl(6, 63%, 50%);
  --key3-background_theme: hsl(30, 25%, 89%);
  
  --key1-shadow_theme: hsl(224, 28%, 35%);
  --key2-shadow_theme: hsl(6, 70%, 34%);
  --key3-shadow_theme: hsl(28, 16%, 65%);
  --color-reset-delete:hsl(0, 0%, 100%);
  --color1-text_theme: hsl(221, 14%, 31%);
  --color-theme: hsl(0, 0%, 100%);  
  --color-result: hsl(0, 0%, 100%);  
  --color-equal: hsl(0, 0%, 100%);  
  --color-title: hsl(0, 0%, 100%);  
  
  --toggle_theme: hsl(6, 63%, 50%);
}
.theme2{
  --main-background_theme: hsl(0, 0%, 90%);
  --toggle-background_theme: hsl(0, 5%, 81%); 
  --keypad-background_theme: hsl(0, 5%, 81%);
  --screen-background_theme: hsl(0, 0%, 93%);

  --key1-background_theme: hsl(185, 42%, 37%);
  --background-equal:hsl(25, 98%, 40%);
  --key2-background_theme:hsl(25, 98%, 40%);
  --key3-background_theme: hsl(45, 7%, 89%); 
  --color-reset-delete:hsl(0, 0%, 100%);
  --color-equal:hsl(0, 0%, 100%);
  --key1-shadow_theme: hsl(185, 58%, 25%);
  --key2-shadow_theme: hsl(25, 99%, 27%); 
  --key3-shadow_theme: hsl(35, 11%, 61%);

  --color1-text_theme:  hsl(60, 10%, 19%); 
  --color-result:  hsl(60, 10%, 19%); 
  --color-number:  hsl(60, 10%, 19%);
  --color-title:  hsl(60, 10%, 19%); 
  --color-theme:  hsl(60, 10%, 19%); 
  --color2-text_theme: hsl(0, 0%, 100%);
  --background-equal:hsl(25, 98%, 40%);

  --toggle_theme: hsl(25, 98%, 40%);
}
.theme3{
  --main-background_theme: hsl(268, 75%, 9%);
  --toggle-background_theme: hsl(268, 71%, 12%); 
  --keypad-background_theme: hsl(268, 71%, 12%);
  --screen-background_theme: hsl(268, 71%, 12%);

  --key1-background_theme: hsl(281, 89%, 26%);
  --background-equal:hsl(176, 100%, 44%);
  --key2-background_theme:hsl(176, 100%, 44%);
  --key3-background_theme: hsl(268, 47%, 21%);
  
  --key1-shadow_theme: hsl(285, 91%, 52%);
  --key2-shadow_theme: hsl(177, 92%, 70%); 
  --key3-shadow_theme: hsl(290, 70%, 36%);
  
  --color-reset-delete:hsl(0, 0%, 100%);
  --color1-text_theme:hsl(198, 20%, 13%);
  --color2-text_theme: hsl(0, 0%, 100%);
  --color-number: hsl(52, 100%, 62%);
  --color3-text_theme: hsl(52, 100%, 62%);
  --color-title: hsl(52, 100%, 62%);
  --color-result: hsl(52, 100%, 62%);
  --color-theme: hsl(52, 100%, 62%);
  --color-equal:hsl(198, 20%, 13%);
  --background-equal:hsl(176, 100%, 44%);
  
  --toggle_theme: hsl(176, 100%, 44%);
}



/* MEDIA QUERY */
@media (min-width: 1024px){
  .container {
    padding: 0 105px !important;
 
}
 
  }

@media (min-width: 768px){
  .container {
    width: 600px !important;
    height: 100% !important;
    padding-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 90px 0;
    transform: translate(-50%, -50%);
}
  .result{
    margin-bottom: 35px;
    font-size: 40px;
  }
  .main{
   margin-bottom: 20px;
    margin-top: 20px;
    grid-template:
        "seven eight nine delete" 75px
        "four five six plus" 75px
        "one two three minus" 75px
        "dot zero divide multiply" 75px
        "reset reset equal equal" 75px/ 1fr 1fr 1fr 1fr;
    gap: 16px;
  
  }
  .row1 h1 {
    font-size: 40px;
  }
  .span{
    gap: 22px;
    font-size: 12px;
    margin-right: 25px;
  }
  .theme h2{
    font-size: 15px;
  }
  .theme-btn-color{
    width: 76px;
    height: 20px;
  }
  .btn-color1{
    left: 6px;
  }
  .btn-color2{
    left: 34px;
  }
  .btn-color3{
    left: 62px;
  }
  }

@media (max-width: 435px){
.container, .container-sm {
    width: 100% !important;
    height: 100% !important;
   padding-top: 30px;
    
}
.result{
  margin-bottom: 35px;
  font-size: 40px;
}
.main{
 margin-bottom: 20px;
  margin-top: 20px;
  grid-template:
      "seven eight nine delete" 75px
      "four five six plus" 75px
      "one two three minus" 75px
      "dot zero divide multiply" 75px
      "reset reset equal equal" 75px/ 1fr 1fr 1fr 1fr;
  gap: 16px;

}
.row1 h1 {
  font-size: 40px;
}
.span{
  gap: 22px;
  font-size: 12px;
  margin-right: 25px;
}
.theme h2{
  font-size: 15px;
}
.theme-btn-color{
  width: 76px;
  height: 20px;
}
.btn-color1{
  left: 6px;
}
.btn-color2{
  left: 34px;
}
.btn-color3{
  left: 62px;
}
}